body .container{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100hv;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin: 0 auto;
}


.container {
    max-width: 1000px;
    padding: 20px;
    width: 100%;
    margin-left: 110px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition: transform 0.3s ease-in-out;
}

.card img {
    max-width: 100%;
    object-fit: fill;
    height: 130px;
    width: 100%;

}

.card h4 {
    margin-top: 10px;
}
