body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.main-header, .main-footer {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    align-items:bottom;
}

.logo {
    font-size: 1.5em;
}

.nav-menu ul, .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li, .footer-links li {
    margin-right: 20px;
}

.nav-menu a, .footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-menu a:hover, .footer-links a:hover {
    color: #ffcc00;
}

.main-footer {
    margin-top: 20px; /* Add space between content and footer */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 1.1em;
}

/* Additional styles for the footer, customize as needed */
